$tertiaire: #99E2D0;

.restaurant{
    display: flex;
    flex-direction: column;
    img{
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    &_menu{
        background-color: #f2f2f2;
        margin-top: -2.3em;
        padding: 1em 1em 3em 1em;
        border-radius: 1.5em 1.5em 0 0;
        display: flex;
        flex-direction: column;
        .title{ /* Ps: styliser icône */
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-family: shrikhand;
                font-size: 1.3em;
            }
            button i{
                margin-right: 0.8em;
            }
        }
    }
    .menu{
        section{
            margin-top: 1.5em;
            display: flex;
            flex-direction: column;
            h3{
                border-bottom: 0.2em solid $tertiaire;
                width: 2.5em;
                font-weight: lighter;
                font-size: 1em;
            }
            .card{
                display: flex;
                justify-content: space-between;
                margin-top: 0.5em;
                cursor: pointer;
                background-color: white;
                border-radius: 0.8em;
                .intitule{
                    padding: 0.5em 0 0.5em 0.5em;
                    h4{
                        font-size: 0.9em;
                    }
                    .suspension{ /* cf: animation.css pour créer l'effet rogné par les...*/
                        overflow: hidden;
                        white-space: nowrap;
                        width: 230px;
                    }
                }
                .sous_intitule{
                    display: flex;
                    p:nth-child(1){
                        font-weight: bold;
                        align-self: flex-end;
                        padding: 0.5em 0 0.5em 0;
                    }
                    p:nth-child(2){
                        display: flex;
                        align-items: center;
                    }
                }
                p{
                    font-size: 0.7em;
                }
            } 
        }    
    }
} 

    
