$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

/* Au survol, les boutons devront légèrement s'éclaircir */
.btn{
    margin: 2em 3em 0 3em;
    border-radius: 40px;
    background: $primaire radial-gradient(circle, transparent 1%, $primaire 1%) center/15000%;
    padding: 0.8em;
    text-align: center;
    transition: background 3s;
    &:hover{
        background-color: $secondaire;
        background-size: 100%;
    }
    a{
        color: white; 
    }
} 

/* Décalage dans le temps par groupe du Menu: Entrée/Plats/Desserts */
.animation{
    animation: opacity 4s;
    animation-fill-mode: both;
}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.animation1{ /* Section Entree */
    animation-delay: 1000ms;
}

.animation2{ /* Section Plats */
    animation-delay: 2500ms;
}

.animation3{ /* Section Desserts */
    animation-delay: 3500ms;
}

/* Au clic, effet texte rogné avec ... et apparition de l'icône check */
.fa-check{ /*design icône */
    width: 1em;
    border: solid #99E2D0 1px;
    border-radius: 50%;
    padding: 0.3em;
    color: #99E2D0;
    background-color: white;
    opacity: 0;
}

.card:hover .fa-check{ /*effet rotate de l'icône */
    animation: rotate 1s;
    animation-fill-mode: both;
    @keyframes rotate{
        to{
            transform: rotate(360deg);
            opacity: 1;
        }
    }
}
.card:hover .check{ /* parent de l'icône sur fond vert */
    animation: padding 1s;
    animation-fill-mode: both;
    @keyframes padding{
        to{
            background-color: #99E2D0;
            border-radius: 0 0.8em 0.8em 0;
            padding: 0 0.8em;
            margin-left: 0.5em;
        }
    } 
}

.card:hover .suspension{ /* effet texte rogné par les ..., propriétés de .suspension cf menu.css */ 
    animation: ellipsis 1s;
    width: 230px;
    animation-fill-mode: both;
    @keyframes ellipsis{
        to{
            text-overflow: ellipsis;
            width: 200px;
        }
    }
}

.loader{ /* Load spinner sur la page Accueil */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.loader div{
    margin-top: 7em;
    font-size: 2em;
    font-weight: bold;
    color: $secondaire;
    font-family: shrikhand;
    animation: load 3s;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes load{
    1%{
        opacity: 1;
    }
    35%{
        color: $primaire;
        transform: scale(1.5);
    }
    65%{
        color: $tertiaire;
        transform: scale(2);
    }
}

.header1, main, .footer1{ /* Opacité body pour le load spinner et donner class pour que l'animation soit sur la page accueil */
    animation: disparition 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes disparition{
    to{
        opacity: 1;
    }
}

button i::before{ /* effet de remplissage pour les boutons en coeur sur la page accueil et page menu */
    content: "";
    font-weight: lighter;
    transition: all 2.5s ease-out;
}

button i:hover::before{
    font-weight: bold;
    color: $primaire;
}